<div class='mt-3 d-flex align-items-center flex-column'>
  <%=render  "shared/user", user: @user %>
  <% if @posts.empty? %>
  <div class="card mb-3 border-danger" style="width: 540px;">
    <div class="card-header bg-danger text-white">No Post Found</div>
    <div class="card-body">
      <h5 class="card-title text-danger">Please first submit a post then come back to this page thanks.</h5>
    </div>
  </div>
  <% else %>
    <ul>
    <%= render partial:"shared/post", collection: @recent  %>
    <ul>
  <% end %>

  <%= link_to "Show all Posts", user_posts_path(user_id: @user.id), class:"btn btn-primary mb-3" %>
</div>
